# Assignment

- s

In [22]:
class Duke:
    def __init__(self):
        self.name = "Duke"
        self.age = 30
    
    def susu(self):
        return self.__str__()
    
    def __str__(self) -> str:
        return 'duke'

In [23]:
duke = Duke()

In [24]:
duke.susu()

'duke'

In [15]:
duke.age

90

In [6]:
duke.name

'Duke'

In [14]:
import pandas as pd
x = {"nombre":[ {"a":10, "b": 9 }, {"a":10, "b": 9 }]}

In [18]:
pd.json_normalize(x, record_path='nombre')

    a  b
0  10  9
1  10  9

In [11]:
x['nombre'][1]['a'] = 8

https://github.com/scottrogowski/mongita