# Assignment

- s

In [1]:
class Duke:
    def __init__(self):
        self.name = "Duke"
        self.age = 30

In [7]:
duke = Duke()
daki = duke

In [10]:
daki.age = 90

In [14]:
daki.age

90

In [15]:
duke.age

90

In [18]:
id(duke) == id(daki)

True

In [6]:
duke.name

'Duke'

In [14]:
import pandas as pd
x = {"nombre":[ {"a":10, "b": 9 }, {"a":10, "b": 9 }]}

In [18]:
pd.json_normalize(x, record_path='nombre')

    a  b
0  10  9
1  10  9

In [11]:
x['nombre'][1]['a'] = 8

In [1]:
import os
import copy
import json
from pathlib import Path
import numpy as np
import pandas as pd
from collections import defaultdict, deque
import math, random, time
import concurrent.futures
import argparse
import os
import multiprocessing
from mongita import MongitaClientDisk

In [32]:
client = MongitaClientDisk()

In [28]:
# remove all databases
client.drop_database("hello_world_db")

In [33]:
client.list_database_names()

['annotation_db', 'hello_world_db']

In [34]:
client = MongitaClientDisk()

hello_world_db = client.hello_world_db

In [36]:
hello_world_db.list_collection_names()

['mongoose_collection']

In [ ]:
mongoose_collection = hello_world_db.mongoose_collection
mongoose_collection.insert_many([{'name': 'Meercat', 'does_not_eat': {'Snakes':1}},
                                     {'name': 'Yellow mongoose', 'eats': {'Snakes':2}}])

In [26]:
client.close()

In [30]:
mongoose_collection.count_documents({})

2

In [13]:
mongoose_collection.find_one({'eats.Snakes': 2})

{'name': 'Yellow mongoose',
 'eats': {'Snakes': 2},
 '_id': ObjectId('690ff6331fe40c8adad7a8d6')}

In [ ]:



mongoose_collection.update_one({'name': 'Meercat'}, {'$set': {"weight": 2}})
mongoose_collection.find({'weight': {'$gt': 1}})
mongoose_collection.find({'weight': {'$gt': 1}})
[{'_id': 'a1b2c3d4e5f6', 'name': 'Meercat', 'does_not_eat': 'Snakes', 'weight': 2}]
mongoose_collection.delete_one({'name': 'Meercat'})

hola

In [ ]:
if __name__ == '__main__':
    # create argparse
    parser = argparse.ArgumentParser()
    parser.add_argument("--sede", type=str, default="Ica")
    parser.add_argument("--iter_max", type=int, default=5000)
    parser.add_argument("--periodo_franja", type=str, default="1. Lun - Vie")
    args = parser.parse_args()
    run_mcts(args.sede, args.periodo_franja, args.iter_max)

https://github.com/scottrogowski/mongita